{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "cypress/globals": true
  },
  "plugins": ["react", "react-hooks", "cypress", "only-warn"],
  "extends": [
    "react-app",
    "react-app/jest",
    "airbnb-base",
    "plugin:prettier/recommended",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:cypress/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2020,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "camelcase": ["error", { "properties": "always" }],
    "node/no-unsupported-features/es-syntax": ["off"],
    "react-hooks/rules-of-hooks": "error", // Checks rules of Hooks
    "react-hooks/exhaustive-deps": "warn" // Checks effect dependencies
  }
}
